{% extends 'base.html.twig' %}

{% block title %}
    {{ 'title.sales_details'|trans({'%id%': sales.id|default('')}) }}
{% endblock %}

{% block body %}
    {{ include('menu.html.twig') }}
    <h2>{{ 'title.sales_details'|trans({'%id%': sales.id|default('')}) }}</h2>
    {% if sales is defined and sales|length %}
        <table class="table table-striped" id="tab">
            <tr>
                <th>{{ 'label.id'|trans }}</th>
                <td>{{ sales.id }}</td>
            </tr>
            {% if is_granted('ROLE_ADMIN') %}
                <tr>
                    <th>{{ 'label.author'|trans }}</th>
                    <td>{{ sales.author.firstname }}&nbsp;{{ sales.author.lastname }}</td>
                </tr>
            {% endif %}
            <tr>
                <th>{{ 'label.created_at'|trans }}</th>
                <td>{{ sales.createdAt|date('d.m.Y') }}</td>
            </tr>
            <tr>
                <th>{{ 'label.category'|trans }}</th>
                <td>{{ sales.category.name }}</td>
            </tr>
            <tr>
                <th>{{ 'label.title'|trans }}</th>
                <td>{{ sales.title }}</td>
            </tr>
            <tr>
                <th>{{ 'label.smartphone'|trans }}</th>
                <td>{{ sales.smartphone }}</td>
            </tr>
            <tr>
                <th>{{ 'label.acc'|trans }}</th>
                <td>{{ sales.acc }}</td>
            </tr>
            <tr>
                <th>{{ 'label.add'|trans }}</th>
                <td>
                    {% if sales.adds is defined and sales.adds|length %}
                        {% for adds in sales.adds %}
                            {{ adds.comment }}<br>
                        {% endfor %}
                    {% else %}

                    {% endif %}
                </td>
            </tr>
        </table>
        <p>
            <a href="{{ url('sales_index') }}" title="{{ 'action.back_to_list'|trans }}">
                &#11013;{{ 'action.back_to_list'|trans }}
            </a>
            <a href="{{ url('sales_edit', {id: sales.id}) }}" title="{{ 'action.edit'|trans }}">
                &#128295;{{ 'action.edit'|trans }}
            </a>
            {% if is_granted('ROLE_ADMIN') %}
                <a href="{{ url('sales_delete', {id: sales.id}) }}" title="{{ 'action.delete'|trans }}">
                    &#10060;{{ 'action.delete'|trans }}
                </a>
            {% endif %}
        </p>
    {% else %}
        <p>
            {{ 'message.record_not_found'|trans }}
        </p>
    {% endif %}
{% endblock %}