{% extends 'base.html.twig' %}

{% block title %}
    {{ 'title.notes_list'|trans }}
{% endblock %}

{% block body %}
    {{ include('menu.html.twig') }}
    <h2>{{ 'title.notes_list'|trans }}</h2>
    {% if is_granted('ROLE_ADMIN') %}

    {% else %}
        <div class="dodaj"> <a href="{{ url('note_create') }}">&#10133; {{ 'add'|trans }}</a> </div>
    {% endif %}
    {% if pagination is defined and pagination.items|length %}
        <div class="navigation text-center">
            {{ knp_pagination_render(pagination) }}
        </div>

        <table class="table table-striped">
            <thead>
            <tr>
                <th>{{ knp_pagination_sortable(pagination, 'label.id'|trans, 'notes.id') }}</th>
                {% if is_granted('ROLE_ADMIN') %}
                    <th>{{ knp_pagination_sortable(pagination, 'label.author'|trans, 'users.lastname') }}</th>
                {% endif %}
                <th>{{ knp_pagination_sortable(pagination, 'label.created_at'|trans, 'notes.createdAt') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'label.title'|trans, 'notes.title') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'label.number'|trans, 'notes.number') }}</th>
                <th>{{ 'label.actions'|trans }}</th>
            </tr>
            </thead>
            <tbody>
            {% for notes in pagination.items %}
                <tr>
                    <td>{{ notes.id }}</td>
                    {% if is_granted('ROLE_ADMIN') %}
                        <td>{{ notes.author.firstname }}&nbsp;{{ notes.author.lastname }}</td>
                    {% endif %}
                    <td>{{ notes.createdAt|date('d.m.Y') }}</td>
                    <td>{{ notes.title }}</td>
                    <td>{{ notes.number }}</td>
                    <td>
                        {% if is_granted('ROLE_ADMIN') %}
                            <a href="{{ url('note_show', {id: notes.id}) }}" title="{{ 'action.show'|trans }}">
                                &#128269;{{ 'action.show'|trans }}
                            </a>
                        {% else %}
                            <a href="{{ url('note_show', {id: notes.id}) }}" title="{{ 'action.show'|trans }}">
                                &#128269;{{ 'action.show'|trans }}
                            </a>
                            <a href="{{ url('note_edit', {id: notes.id}) }}" title="{{ 'action.edit'|trans }}">
                                &#128295;{{ 'action.edit'|trans }}
                            </a>
                            <a href="{{ url('note_delete', {id: notes.id}) }}" title="{{ 'action.delete'|trans }}">
                                &#10060;{{ 'action.delete'|trans }}
                            </a>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <div class="navigation text-center">
            {{ knp_pagination_render(pagination) }}
        </div>

    {% else %}
        <p>
            {% include 'default/_single_alert_message.html.twig' with {
                type: 'warning',
                message: 'message.empty_list'|trans
            } %}
        </p>
    {% endif %}
{% endblock %}